// Background

$count: 0;
@while $count < 10 {
  $index: 10 * $count;
  $value: calc($count / 10);

  .bg-black-#{$index} {
    background-color: rgba(0, 0, 0, $value) !important;
  }

  .text-bg-black-#{$index} {
    background-color: rgba(0, 0, 0, $value) !important;
    color: #fff !important;
  }

  $count: $count + 1;
}

$count: 0;
@while $count < 4 {
  $index: 25 * $count;
  $value: calc($index / 100);

  .bg-black-#{$index} {
    background-color: rgba(0, 0, 0, $value) !important;
  }

  .text-bg-black-#{$index} {
    background-color: rgba(0, 0, 0, $value) !important;
    color: #fff !important;
  }

  $count: $count + 1;
}

// Transparent

.bg-transparent  {
    background-color: transparent !important;
    background-image: none !important;
    backdrop-filter: none !important;
}