// Remove Background
.fc .fc-scrollgrid-section-sticky > * {
    background: none;
}

// Add text-overflow: ellipsis to event titles
a.fc-event {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// Year View
.fc-multiMonthYear-view{
    @include border-radius($border-radius);
}

// Month View
.fc-dayGridMonth-view .fc-scrollgrid {
    @include border-radius($border-radius);
}
.fc-dayGridMonth-view .fc-scrollgrid-section td[role="presentation"] {
    @include border-radius($border-radius);
    border-top-right-radius: 0;
}
.fc-dayGridMonth-view .fc-scrollgrid-section th[role="presentation"] {
    @include border-radius($border-radius);
    border-bottom-right-radius: 0;
}

// Week View
.fc-timeGridWeek-view .fc-scrollgrid {
    @include border-radius($border-radius);
}
.fc-timeGridWeek-view .fc-scrollgrid-section:last-child td[role="presentation"] {
    @include border-radius($border-radius);
    border-top-right-radius: 0;
}
.fc-timeGridWeek-view .fc-scrollgrid-section:first-child th[role="presentation"] {
    border-top-right-radius: $border-radius;
}

// Day View
.fc-timeGridDay-view .fc-scrollgrid {
    @include border-radius($border-radius);
}
.fc-timeGridDay-view .fc-scrollgrid-section:last-child td[role="presentation"] {
    @include border-radius($border-radius);
    border-top-right-radius: 0;
}
.fc-timeGridDay-view .fc-scrollgrid-section:first-child th[role="presentation"] {
    border-top-right-radius: $border-radius;
}