.feed .post {
    border-bottom-width: var(--bs-border-width);
    border-bottom-style: var(--bs-border-style);
    border-bottom-color: var(--bs-border-color);
    margin-bottom: 15px;
    padding-bottom: 15px;
}
.feed .post:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
    padding-bottom: 0;
}
.feed .post .user-block {
    margin-bottom: 15px;
    width: 100%;
}
.feed .post .row {
    width: 100%;
}
.feed .user-block {
    float: left;
}
.feed .user-block img {
    float: left;
    height: 65px;
    width: 65px;
}
.feed .user-block .username,
.feed .user-block .description {
    display: block;
    margin-left: 75px;
}
.feed .user-block .username {
    font-size: 16px;
    margin-top: -1px;
}
.feed .user-block .description {
    font-size: 13px;
    margin-top: -3px;
}
.feed .user-block.user-block-sm img {
    width: 1.875rem;
    height: 1.875rem;
}
.feed .user-block.user-block-sm .username,
.feed .user-block.user-block-sm .description,
.feed .user-block.user-block-sm .comment {
    margin-left: 40px;
}
.feed .user-block.user-block-sm .username {
    font-size: 14px;
}