// Position

$count: 0;
@while $count < 10 {
  $index: 10 * $count;
  $value: percentage(calc($index / 100));

  .top-#{$index} {
    top: $value;
  }

  .bottom-#{$index} {
    bottom: $value;
  }

  .start-#{$index} {
    left: $value;
  }

  .end-#{$index} {
    right: $value;
  }

  $count: $count + 1;
}

$count: 0;
@while $count < 4 {
  $index: 25 * $count;
  $value: percentage(calc($index / 100));

  .top-#{$index} {
    top: $value;
  }

  .bottom-#{$index} {
    bottom: $value;
  }

  .start-#{$index} {
    left: $value;
  }

  .end-#{$index} {
    right: $value;
  }

  $count: $count + 1;
}