/* Hide scrollbar background */
/* For Chrome, Safari, and Opera */
::-webkit-scrollbar {
	background: transparent !important;
	width: 8px !important;
	height: 8px !important;
}
::-webkit-scrollbar-button {
	display: none !important;
}
::-webkit-scrollbar-track {
	background: transparent !important;
}
::-webkit-scrollbar-thumb {
	background: rgba(red($light),green($light),blue($light),0.5) !important;
	width: 8px !important;
	height: 8px !important;
	border-radius: 4px !important;
}
::-webkit-scrollbar-thumb:hover {
	background: rgba(red($light),green($light),blue($light),0.75) !important;
}