// Sizing

$count: 0;
@while $count < 10 {
  $index: 10 * $count;

  $value: #{$index} + 'vw';

  .min-vw-#{$index} { min-width: $value !important; }
  .max-vw-#{$index} { max-width: $value !important; }
  .vw-#{$index} { width: $value !important; }
  
  $value: #{$index} + 'vh';
  .min-vh-#{$index} { min-height: $value !important; }
  .max-vh-#{$index} { max-height: $value !important; }
  .vh-#{$index} { height: $value !important; }

  $value: #{$index} + '%';

  .min-w-#{$index} { min-width: $value !important; }
  .max-w-#{$index} { max-width: $value !important; }
  .w-#{$index} { width: $value !important; }
  .min-h-#{$index} { min-height: $value !important; }
  .max-h-#{$index} { max-height: $value !important; }
  .h-#{$index} { height: $value !important; }

  $count: $count + 1;
}

$count: 0;
@while $count < 4 {
    $index: 25 * $count;
  
    $value: #{$index} + 'vw';
  
    .min-vw-#{$index} { min-width: $value !important; }
    .max-vw-#{$index} { max-width: $value !important; }
    .vw-#{$index} { width: $value !important; }
    
    $value: #{$index} + 'vh';
    .min-vh-#{$index} { min-height: $value !important; }
    .max-vh-#{$index} { max-height: $value !important; }
    .vh-#{$index} { height: $value !important; }
  
    $value: #{$index} + '%';
  
    .min-w-#{$index} { min-width: $value !important; }
    .max-w-#{$index} { max-width: $value !important; }
    .w-#{$index} { width: $value !important; }
    .min-h-#{$index} { min-height: $value !important; }
    .max-h-#{$index} { max-height: $value !important; }
    .h-#{$index} { height: $value !important; }
  
    $count: $count + 1;
}