// Tooltips

$tooltip-range-arrow-width: calc($tooltip-arrow-width / 2);

.tooltip-range {
    position: relative;
}

.tooltip-range output {
    visibility: hidden;
    position: absolute;
    text-align: center;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    transition: opacity .15s ease-in-out;
    border: 1px solid $tooltip-bg;
    z-index: $zindex-tooltip;
    max-width: $tooltip-max-width;
    padding-top: $tooltip-padding-y;
    padding-bottom: $tooltip-padding-y;
    padding-left: $tooltip-padding-x;
    padding-right: $tooltip-padding-x;
    margin: $tooltip-margin;
    color: $tooltip-color;
    background-color: $tooltip-bg;
    border-radius: $tooltip-border-radius;
    font-size: $tooltip-font-size;
    opacity: 0;
}

.tooltip-range output::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -$tooltip-range-arrow-width;
    border-width: $tooltip-range-arrow-width;
    border-style: solid;
    border-color: $tooltip-bg transparent transparent transparent;
}

.tooltip-range:hover output {
    visibility: visible;
    opacity: $tooltip-opacity;
}